.Main-commentp-div {
    position: relative;
    text-align: left;
    left: 15px;
    width: 70%;
    
    
    
}

.answer-commentp {
    
}

.profile-infooo {
    border-right: 2px solid gray;
    width: 17%;
    height: 655px;
    position:relative;
}