.Main-commentp-div {
    position: relative;
    text-align: left;
    left: 15px;
    width: 81.95%;
    height: 660px;
    overflow: scroll;  
    overflow-x: hidden;
    
}


.answer-commentp {
   
}

.pq6dq46dp {
    background-color:  #31A24C;
    width: 15px;
    height: 14px;
}

.profile-infooo {
    border-right: 1px solid gray;
    width: 17%;
    height: 655px;
    position:relative;

}

.bottontagss {
    margin-top: 15px;
    
}

.textare-comments {

  
    width: 80%;
}