

.main-div-login {
   display: flex;
    border: 2px solid whitesmoke;
    position: relative;
    width: 34%;
    margin: auto;
    height: 300px;
    top: 70px;
    box-shadow: 10px 5px 5px whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Style Script', cursive;
}

.img-div-login {
    
}