.messenger {
  height: calc(85vh);
  display: flex;
  overflow-y:hidden;
}

.chatMenu {
  flex: 1;
  height: 85vh;
  margin-top: 30px;
  overflow-y: scroll;
  overflow-y: hidden;
}

.chatMenuInput {
  width: 90%;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.chatBox {
  flex: 3;
  height: 85vh;
  overflow-y: hidden;
  border-left: 1px solid grey;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-right: 50px;

}

.chatBoxTop {
  height: 85vh;
  overflow-y: scroll;
 
  padding-right: 10px;
  position: relative;
}
.chatTopBar {
  display: flex;
  align-items: center;
  height: 50px;
  background: #48AB05;
  color: white;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  left: 60%;
  

}
.curUserImg{
  width: 50px;
  border-radius: 25px;

}
.curUserImg>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.curUserName {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
}
.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  height: 30px;
 
}

.chatMessageInput {
  border: none;
  outline: none;
  border-radius: 10px;
  background: #bababa;
  width: 80%;
  height: 20px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
  
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 85vh;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }

  .chatOnline{
    flex: 1px;
  }
}